spring:
  application:
    name: feedback-app

  jpa:
    open-in-view: false
    properties:
      hibernate:
        format_sql: true

  flyway:
    enabled: true
    baseline-on-migrate: true
    validate-on-migrate: true

  profiles:
    active: dev

  mail:
    host: localhost
    port: 1025

app:
  user:
    username: admin